# Environment variables
.env.local
.env

# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production
build/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
